main {
    height: 15vh;
    text-align: center;
    .url-form {
        margin: 10px 0;
    }
    .radiobutton {
        margin: 10px 0;
        input[type=radio] {
            margin-left: 10px;
        }
    }
    
}